*{
    overflow-x: hidden;
    margin: 0;
}
.container{
    height: 100vh;
}
.lists li{
    line-height: 50px;
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.lists li :active{
    background-color: rgb(118, 239, 118) ;
    border-radius: 6px;
    padding: 2px;
}
.lists li :hover{
    color: rgb(38, 194, 38) ;
}
.active{
    background-color:rgb(118, 239, 118) ;
    color: white;
    border-radius: 6px;
    padding: 2px;
}
.book{
    color: rgb(38, 194, 38)   
}
.brand-name{
    color: rgb(38, 194, 38);
    font-size: 30px;
}
nav>div>h5{
    margin-top: 5px;
    margin-left: 8px;
}
nav{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.content h3{
    font-size: 8rem;
    margin-bottom: 0;
    transform: scaleX(1.4);
    margin-top: 5rem;
}
.content{
    text-align: center;
}
.content i{
    font-size: 2.0rem;
}
.content h3>i{
    font-size:10rem ;
    color: rgb(38, 194, 38);
}
.about{
    background-color: rgb(38, 194, 38) ;
    color: rgb(249, 241, 241);
    border: none;
}
.about:hover{
    transform: scale(1.2);
}
.more{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
footer{
    background-color:rgb(88, 86, 86);
    margin-top: 20vh;
}
.footer{
    color: white;
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 30vh;
margin: 20px;

}
.f-awesome{
    display: flex;
    flex-direction:row-reverse;
    margin-right: 10px;
}
.company{
    color: white;
    margin-top: 10px;
}
.company:hover{
    color:  rgb(38, 194, 38);
}
.fa{
    margin-right: 15px;
}
.mission{
font-size: 20px;
margin-top: 20px;
}
h3 i{
    color:  rgb(38, 194, 38) ;
}
.flex{
    display: flex;
}
.fa-check{
    color:   rgb(38, 194, 38);
}
.image{
    display: flex;
    margin-top: 7px;
}
.image .about-him{
    margin-left: 20px;
}
img{
    width: 14rem;
}
.content2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 20px;
}
.footer-company{
    display: flex;
    flex-direction: column;
}
.opacity{
    opacity: 0.5;
}
.border{
background-color: grey;
border-radius: 50%;
width: 40px;
height: 25px;
text-align: center;
padding-top: 14px;
}
.copyright{
    margin-top: 5vh;
}
.my-book{
    font-size: 1.5rem;
}
